# Loading of data needed for examples

This notebook can be used to load the data into Snowflake that is used for some of the demos.

It will create tables in the database and schema used in the connection parameters ie creds.json

In [1]:
# Snowpark modules
from snowflake.snowpark.session import Session
import snowflake.snowpark.types as T

In [2]:
# Additional modules
import json

In [3]:
# Get a nicer output from .show()
from IPython.core.display import HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

Connect to Snowflake

In [4]:
with open('../creds.json') as f:
    connection_parameters = json.load(f)
    
session = Session.builder.configs(connection_parameters).create()

Path to where the data files is and what stage to upload the files to

In [5]:
data_path = "../data/"
data_stage_name = "~" # Using the user stage

### Titanic data

In [7]:
# Upload the source file to the stage
putResult = session.file.put(f"{data_path}titanic.csv", f"@{data_stage_name}", auto_compress=True, overwrite=True)

In [8]:
titanicSchema = T.StructType(
    [
        T.StructField("PCLASS", T.IntegerType()),
        T.StructField("SURVIVED", T.StringType()),
        T.StructField("NAME", T.StringType()),
        T.StructField("SEX", T.StringType()),
        T.StructField("AGE", T.FloatType()),
        T.StructField("SIBSP", T.FloatType()),
        T.StructField("PARCH", T.FloatType()),
        T.StructField("TICKET", T.StringType()),
        T.StructField("FARE", T.FloatType()),
        T.StructField("CABIN", T.StringType()),
        T.StructField("EMBARKED", T.StringType()),
        T.StructField("BOAT", T.StringType()),
        T.StructField("BODY", T.IntegerType()),
        T.StructField("HOME_DEST", T.StringType()),
    ]
)

# Crete a reader
dfReader = session.read.schema(titanicSchema)

# Get the data into the data frame
dfTitanic_stage = dfReader.options({"field_delimiter":",", "FIELD_OPTIONALLY_ENCLOSED_BY":'"', "NULL_IF":"?", "SKIP_HEADER":1}).csv(f"@{data_stage_name}/titanic.csv.gz")
session.sql("DROP TABLE IF EXISTS titanic").collect()
dfTitanic_stage.copy_into_table("titanic")

[Row(file='titanic.csv.gz', status='LOADED', rows_parsed=1309, rows_loaded=1309, error_limit=1, errors_seen=0, first_error=None, first_error_line=None, first_error_character=None, first_error_column_name=None)]

In [9]:
session.table("titanic").show()

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"PCLASS"  |"SURVIVED"  |"NAME"                                           |"SEX"   |"AGE"   |"SIBSP"  |"PARCH"  |"TICKET"  |"FARE"    |"CABIN"  |"EMBARKED"  |"BOAT"  |"BODY"  |"HOME_DEST"                      |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|1         |1           |Allen, Miss. Elisabeth Walton                    |female  |29.0    |0.0      |0.0      |24160     |211.3375  |B5       |S           |2       |NULL    |St Louis, MO                     |
|1         |1           |Allison, Master. Hudson Trevor                   |male    |0.9167  |1.0      |2.0      |113781    |151.55    |C22 C26  |S           |11      |NULL    |Montreal, PQ / Chesterville, ON  |
|1         |0           |Allison, Miss. Helen Loraine                     |female  |2.0     |1.0      |2.0      |113781    |151.55    |C22 C26  |S           |NULL    |NULL    |Montreal, PQ / Chesterville, ON  |
|1         |0           |Allison, Mr. Hudson Joshua Creighton             |male    |30.0    |1.0      |2.0      |113781    |151.55    |C22 C26  |S           |NULL    |135     |Montreal, PQ / Chesterville, ON  |
|1         |0           |Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  |female  |25.0    |1.0      |2.0      |113781    |151.55    |C22 C26  |S           |NULL    |NULL    |Montreal, PQ / Chesterville, ON  |
|1         |1           |Anderson, Mr. Harry                              |male    |48.0    |0.0      |0.0      |19952     |26.55     |E12      |S           |3       |NULL    |New York, NY                     |
|1         |1           |Andrews, Miss. Kornelia Theodosia                |female  |63.0    |1.0      |0.0      |13502     |77.9583   |D7       |S           |10      |NULL    |Hudson, NY                       |
|1         |0           |Andrews, Mr. Thomas Jr                           |male    |39.0    |0.0      |0.0      |112050    |0.0       |A36      |S           |NULL    |NULL    |Belfast, NI                      |
|1         |1           |Appleton, Mrs. Edward Dale (Charlotte Lamson)    |female  |53.0    |2.0      |0.0      |11769     |51.4792   |C101     |S           |D       |NULL    |Bayside, Queens, NY              |
|1         |0           |Artagaveytia, Mr. Ramon                          |male    |71.0    |0.0      |0.0      |PC 17609  |49.5042   |NULL     |C           |NULL    |22      |Montevideo, Uruguay              |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

### Campaign spend

In [10]:
# Upload the source file to the stage
session.file.put(f"{data_path}campaign_spend.csv", f"@{data_stage_name}", auto_compress=True, overwrite=True)

[PutResult(source='campaign_spend.csv', target='campaign_spend.csv.gz', source_size=13684943, target_size=2922464, source_compression='NONE', target_compression='GZIP', status='UPLOADED', message='')]

In [11]:
campaignSchema = T.StructType(
    [
        T.StructField("CAMPAIGN", T.StringType()),
        T.StructField("CHANNEL", T.StringType()),
        T.StructField("DATE", T.DateType()),
        T.StructField("TOTAL_CLICKS", T.DecimalType(38,0)),
        T.StructField("TOTAL_COST", T.DecimalType(38,0)),
        T.StructField("ADS_SERVED", T.DecimalType(38,0)),
    ]
)

# Crete a reader
dfReader = session.read.schema(campaignSchema)

# Get the data into the data frame
dfCampaign_stage = dfReader.options({"field_delimiter":",", "SKIP_HEADER":1}).csv(f"@{data_stage_name}/campaign_spend.csv.gz")
session.sql("DROP TABLE IF EXISTS campaign_spend").collect()
dfCampaign_stage.copy_into_table("campaign_spend")

[Row(file='campaign_spend.csv.gz', status='LOADED', rows_parsed=293120, rows_loaded=293120, error_limit=1, errors_seen=0, first_error=None, first_error_line=None, first_error_character=None, first_error_column_name=None)]

In [12]:
session.table("campaign_spend").show()

------------------------------------------------------------------------------------------------------
|"CAMPAIGN"              |"CHANNEL"      |"DATE"      |"TOTAL_CLICKS"  |"TOTAL_COST"  |"ADS_SERVED"  |
------------------------------------------------------------------------------------------------------
|winter_sports           |video          |2012-06-03  |213             |1762          |426           |
|sports_across_cultures  |video          |2012-06-02  |87              |678           |157           |
|building_community      |search_engine  |2012-06-03  |66              |471           |134           |
|world_series            |social_media   |2017-12-28  |72              |591           |149           |
|winter_sports           |email          |2018-02-09  |252             |1841          |473           |
|spring_break            |video          |2017-11-14  |162             |1155          |304           |
|nba_finals              |email          |2017-11-22  |68              |480           |134           |
|winter_sports           |social_media   |2018-03-10  |227             |1797          |454           |
|spring_break            |search_engine  |2017-08-30  |150             |1226          |302           |
|uefa                    |video          |2017-09-30  |81              |701           |168           |
------------------------------------------------------------------------------------------------------

### Bank Marketing files

In [13]:
session.sql("CREATE OR REPLACE STAGE SOURCE_FILES").collect()

session.file.put(f"{data_path}/bank/*", f"@SOURCE_FILES/BANK_MARKETING", auto_compress=False, overwrite=True)

[PutResult(source='data_apr.snappy.parquet', target='data_apr.snappy.parquet', source_size=40357, target_size=40368, source_compression='PARQUET', target_compression='PARQUET', status='UPLOADED', message=''),
 PutResult(source='data_aug.snappy.parquet', target='data_aug.snappy.parquet', source_size=62202, target_size=62208, source_compression='PARQUET', target_compression='PARQUET', status='UPLOADED', message=''),
 PutResult(source='data_dec.snappy.parquet', target='data_dec.snappy.parquet', source_size=8559, target_size=8560, source_compression='PARQUET', target_compression='PARQUET', status='UPLOADED', message=''),
 PutResult(source='data_feb.snappy.parquet', target='data_feb.snappy.parquet', source_size=36471, target_size=36480, source_compression='PARQUET', target_compression='PARQUET', status='UPLOADED', message=''),
 PutResult(source='data_jan.snappy.parquet', target='data_jan.snappy.parquet', source_size=22809, target_size=22816, source_compression='PARQUET', target_compression='PARQUET', status='UPLOADED', message=''),
 PutResult(source='data_jul.snappy.parquet', target='data_jul.snappy.parquet', source_size=67412, target_size=67424, source_compression='PARQUET', target_compression='PARQUET', status='UPLOADED', message=''),
 PutResult(source='data_jun.snappy.parquet', target='data_jun.snappy.parquet', source_size=56100, target_size=56112, source_compression='PARQUET', target_compression='PARQUET', status='UPLOADED', message=''),
 PutResult(source='data_mar.snappy.parquet', target='data_mar.snappy.parquet', source_size=12383, target_size=12384, source_compression='PARQUET', target_compression='PARQUET', status='UPLOADED', message=''),
 PutResult(source='data_may.snappy.parquet', target='data_may.snappy.parquet', source_size=120093, target_size=120096, source_compression='PARQUET', target_compression='PARQUET', status='UPLOADED', message=''),
 PutResult(source='data_nov.snappy.parquet', target='data_nov.snappy.parquet', source_size=51065, target_size=51072, source_compression='PARQUET', target_compression='PARQUET', status='UPLOADED', message=''),
 PutResult(source='data_oct.snappy.parquet', target='data_oct.snappy.parquet', source_size=16217, target_size=16224, source_compression='PARQUET', target_compression='PARQUET', status='UPLOADED', message=''),
 PutResult(source='data_sep.snappy.parquet', target='data_sep.snappy.parquet', source_size=14360, target_size=14368, source_compression='PARQUET', target_compression='PARQUET', status='UPLOADED', message='')]

### Clean up

In [14]:
session.sql(f"rm @{data_stage_name}/campaign_spend.csv.gz").collect()
session.sql(f"rm @{data_stage_name}/titanic.csv.gz").collect()
session.sql(f"ls @{data_stage_name}").show()

---------------------------------------------
|"name"  |"size"  |"md5"  |"last_modified"  |
---------------------------------------------
|        |        |       |                 |
---------------------------------------------

In [15]:
session.close()